body{
		margin: 10px;
		padding: 15px;
		background: #000000;

		color: #FFFFFF;
		font-family: Arial;
		font-size: 12px;

		background-image: url(basketball.jpg);
		background-size: cover;
		-webkit-filter: blur(0px);

		top: -20px;
		left: -20px;
		right: -40px;
		bottom: -40px;
		width: auto;
		height: auto;
}

.body{
		position: absolute;
		top: -20px;
		left: -20px;
		right: -40px;
		bottom: -40px;
		width: auto;
		height: auto;
		background-image: url(basketball.jpg);
		background-size: cover;
		background-position:center;
		-webkit-filter: blur(0px);

}

.header{
		position: absolute;
		top: calc(50% - 35px);
		left: calc(50% - 255px);
		z-index: 2;
}

.header div{
		float: left;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 35px;
		font-weight: 200;
}

.header div span{
		color: #5379fa !important;
}

.login{
		position: absolute;
		top: calc(50% - 75px);
		left: calc(50% - 50px);
		height: 150px;
		width: 350px;
		padding: 10px;
		z-index: 2;
}
.warning p{

color:red;
}
.login input[type=text]{
		width: 250px;
		height: 30px;
		background: transparent;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 4px;
}


.login input[type=password]{
		width: 250px;
		height: 30px;
		background: transparent;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
}

.login button[type=submit]{
		width: 260px;
		height: 35px;
		background: white;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #a18d6c;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 6px;
		margin-top: 10px;
}


.login button[type=submit]:active{
		opacity:0.9;
}

.login input[type=button]{
		width: 260px;
		height: 35px;
		background: #fff;
		border: 1px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #a18d6c;
		font-family: 'Exo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 6px;
		margin-top: 10px;
}


.login input[type=button]:active{
		opacity: 0.9;
}

.login input[type=text]:focus{
		border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
		border: 1px solid rgba(255,255,255,0.9);
}

::-webkit-input-placeholder{
		color: rgba(255,255,255,0.8);
}

::-moz-input-placeholder{
		color: rgba(255,255,255,0.8);
}

.exit:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
}

.container {
	width: 600px;
	text-align: center;
	margin: auto;
}

.login input[type=button]{
	width: 260px;
	height: 90px;
	background: white;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:active{
	opacity:10;
}
.button {
	display: inline-block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	padding-right: 5%;
	padding-left: 10%;
	position: relative;

	color: black;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	background-color:white;
	position:absolute;
	top: 20px;
	right: 20px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

option {
	background-color: white;
	color: black;
}

.select {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-right: 30px;
	padding-left: 70px;
	position: relative;
	background:#4b2d15 !important;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	position:absolute;
	top: 20px;
	right: 20px;
	width: 170px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

span{
	text-align: center;
	padding-right: 5%;
}

.button span {
		position: absolute;
		left: 0;
		width: auto;
		padding-left: 15%;
		background-color: red;

		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-right: 1px solid  rgba(0,0,0,0.15);
}

.button:hover span, .button.active span {
		background-color: #ddd;
		border-right: 1px solid  rgba(0,0,0,0.3);
}
.select:active {
		margin-top: 2px;
		margin-bottom: 13px;

		box-shadow:0px 1px 0px rgba(255,255,255,0.5);
}
.
.button:active {
		margin-top: 2px;
		margin-bottom: 13px;

		box-shadow:2px 1px 0px rgba(255,255,255,0.5);
}
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.t table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:center;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.t table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.t table th:first-child {
	text-align: left;
	padding-left:20px;
}
.t table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.t table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
.t table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.t table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.t table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.t table tr:last-child td {
	border-bottom:0;
}
.t table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.t table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.t table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
	background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
	color: black;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

.navBar {
	text-align: center;
	margin: auto;

}

.navBar span{
	width: auto;
	text-align: center;
}
